main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;

}
body
{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color:whitesmoke; 
}
.container{
  margin-bottom: 10px;
}
.about{
  background-color: whitesmoke;
}
/* intro */
.container_intro{
  margin-top:-30px;
  background: url('images/brain.png') center center no-repeat;
}
.title {
  font-family: "Raleway", sans-serif;
  color:white;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.container_intro p{
  color: white;
}
.title_content{
  color:black;
  font-size: 22px;
  text-align: center;
  font-weight: 300;
  line-height: 30px;
  margin-top: 200px;
  margin-bottom: 50px;
}
.form-control:focus {
    border-color: rgb(255, 172, 172);
    box-shadow: 0 0 0 0.25rem rgb(255, 172, 172,0.8);
  }
main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}
/*CARD*/
.col-md-4{
  margin-left: -20px !important;
  margin-bottom: 3px;
}
.cards{
  margin-top: -50px;
  width:95%;
  height: 70%;
  margin-left: 85px;
}
.card-img{
  height:100%;
  width:80%;
  margin-left: -10px;
}

.contact
{
    padding-top: 4px;
    border-radius: 0.3rem;
    width: 700px;
    height: 100%;  
    padding: 40px;
    color: rgb(75, 75, 75);
    border: 1px solid  #fdbebe;
    margin: auto;
}

select{
  margin-left: 18px !important; 
}
#features {
  background: #f6f6f6;
  margin-top: -9px;
  
}

#features i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #867070;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #E4D0D0 0%, #D5B4B4 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

#team .card-img-top{
  padding: 5px;
}
#team .row{
  padding: 80px;
  padding-top: 10px;
}

.testimonial{
  background: #E4D0D0;
}
#testimonials {
  padding: 100px 0;
  background: #E4D0D0;
}

#testimonials .section-title{
  padding-top: 5px;
}

.testimonial {
  position: relative;
  padding: 20px;
}
.testimonial-image {
  float: left;
  margin-right: 15px;
}
.testimonial-image,
.testimonial-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content  {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
  text-align: left;
}

#testimonials .test{
  padding: 30px;
}

.foot-container{
  height: 150px;
  background-color: #867070;
  color: #ffffff;
  margin-bottom: -0.5%;
}