<!-- {% extends "layout.html" %}
{% block title %}
home
{% endblock %}

{% block main %}
<link href="static\css\about.css" rel="stylesheet">
<!-- after login -->
{% if session.user_id %}

{% else %}
<!-- before login -->
<!-- Header -->
<style>
  .container1 {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 100vw;
    padding-top: 0 !important;
  }

</style>
<div class="container_intro " style="width: 100vw; margin-top:0 !important; background-size: cover; height: 92vh;">
  <div class="container_wrapper" style="  display: grid; place-items: center; height: 92vh;">
    <div class="content_wrap" style="width: 60vw; height: 62vh; display: grid; place-items: center; gap: 20px;">
      <div class="title">
        Yourself in the Fight Against Alzheimersss
      </div>
      <div style="margin-top: -50px;">
        <p> Welcome to a realm where innovation meets compassion.Our app merges MOCA and MRI,
          offering unprecedented insight into Alzheimer's detection and management.Experience personalized care,
          guided by precise data and fueled by hope for a brighter future.</p>
      </div>
    </div>
  </div>
</div>
<!-- features -->
<div class="feature">
  <section id="features">
    <h2>FEATURES</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-md-3"> 
          <i class=" icon fa fa-comments-o fa-3x"></i>
          <h3 class="feature-title">Chatbot</h3>
          <p>A user-friendly, AI-powered chatbot for engaging cognitive assessments and support, making Alzheimer's detection accessible and intuitive.</p>
        </div>
        <div class="col-xs-6 col-md-3"> 
          <i class=" icon fa fa-bullhorn fa-3x"></i>
          <h3 class="feature-title">Accuracy</h3>
          <p>Leveraging cutting-edge NLP and AI technology for precise and reliable Alzheimer's diagnosis, ensuring early detection and intervention.</p>
        </div>
        <div class="col-xs-6 col-md-3"> 
          <i class=" icon fa fa-group fa-3x"></i>
          <h3 class="feature-title">Connect With Doctors</h3>
          <p>Seamlessly connect with healthcare professionals for expert consultations and personalized guidance, enhancing the quality of care and support.</p>
        </div>
        <div class="col-xs-6 col-md-3"> 
          <i class=" icon fa fa-magic fa-3x"></i>
          <h3 class="feature-title">Prediction Of Alzheimer</h3>
          <p>MRI and  MoCA test to provide predictive insights, enhancing diagnostic accuracy and comprehensive Alzheimer's disease assessment.</p>
        </div>

      </div>

    </div>
  </section>
</div>
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img src="static\images\about.jpeg" class="img-responsive" alt="" />
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>ROADMAP</h2>
          <p>From Moca Test to Alzheimer Detection to consultancy with doctors we have it all</p>
          <div class="row">

            <div class="col-lg-6 col-sm-6 col-xs-12">
              <ul>
                <li>Launch platform with MoCA-based initial detection.</li>
                <li>Gather user data for NLP improvements.</li>
                <li>Provide educational resources for cognitive health.</li>
              </ul>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <ul>
                <li>Implement MRI-based predictive model for enhanced detection.</li>
                <li>Combine MoCA, NLP, and MRI-based detection.</li>
                <li>Enable real-time monitoring of cognitive health.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gallery -->
<div id="gallery">
<div class="container">
  <h2>HOW IT LOOKS</h2>
  <div class="cards">
    <div class="row">
      <div class=" col-md-4">
        <img class="card-img  object-fit-none" src="static\images\portfolio\01-small.jpg">
      </div>
      <div class=" col-md-4">
        <img class="card-img  object-fit-none" src="static\images\portfolio\02-small.jpg">
      </div>
      <div class="col-md-4">
        <img class="card-img  object-fit-none" src="static\images\portfolio\03-small.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img class="card-img  object-fit-none" src="static\images\portfolio\04-small.jpg">
      </div>
      <div class=" col-md-4">
        <img class="card-img  object-fit-none" src="static\images\portfolio\05-small.jpg">
      </div>
      <div class=" col-md-4">
        <img class="card-img  object-fit-none" src="static\images\portfolio\06-small.jpg">
      </div>
    </div>
    <div class="row">
      <div class=" col-md-4">
        <img class="card-img  object-fit-none" src="static\images\portfolio\07-small.jpg">
      </div>
      <div class=" col-md-4">
        <img class="card-img  object-fit-fill" src="static\images\portfolio\08-small.jpg">
      </div>
      <div class=" col-md-4">
        <img class="card-img  object-fit-fill" src="static\images\portfolio\09-small.jpg">
      </div>
    </div>
  </div>
</div>
</div>
<!-- testiomonial -->
<div class="testimonial">
  <section id="testimonials">
    <h2>What Our Clients Say</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="test">
            <div class="testimonial-image">
              <img src="static\images\testimonials\01.jpg" alt="">
            </div>
            <div class="testimonial-content">
              <p>"I was amazed by the chatbot's ease of use. It made cognitive assessments feel like a casual conversation. The accuracy in early detection was reassuring.Connecting with doctors for consultation was a game-changer. This  application is a true lifeline for anyone concerned aboutAlzheimer's."</p>
              <em>-Emily W</em>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="test">
            <div class="testimonial-image">
              <img src="static\images\testimonials\02.jpg" alt="">
            </div>
            <div class="testimonial-content">
              <p>"As someone who cares deeply about the accuracy of healthcare tools, this application surpassed my expectations. The predictive capabilities using MRI and the MoCA test were impressive. It's a revolutionary step towards proactive Alzheimer's management."</p>
              <em>-Johnathan</em>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="test">
            <div class="testimonial-image">
              <img src="static\images\testimonials\03.jpg" alt="">
            </div>
            <div class="testimonial-content">
              <p>"I've been using this application to track my cognitive health, and it's been a great source of reassurance. The chatbot is user-friendly, I can't recommend it enough for anyone with Alzheimer's concerns.It's a revolutionary step towards proactive Alzheimer's management."</p>
              <em>-Reeta</em>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="test">
            <div class="testimonial-image">
              <img src="static\images\testimonials\04.jpg" alt="">
            </div>
            <div class="testimonial-content">
              <p>"This project has not only provided me with early detection but also a sense of control over my cognitive health. The combination of NLP and predictive tools has been invaluable. The chatbot is a unique blend of innovation and compassion."</p>
              <em>-Tommy</em>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="test">
            <div class="testimonial-image">
              <img src="static\images\testimonials\05.jpg" alt="">
            </div>
            <div class="testimonial-content">
              <p>"The use of MRI and MoCA test for prediction is a game-changer. This application has given me insights and peace of mind like no other. It's a step forward in Alzheimer's care that every individual should explore."</p>
              <em>-Sarah</em>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="test">
            <div class="testimonial-image">
              <img src="static\images\testimonials\06.jpg" alt="">
            </div>
            <div class="testimonial-content">
              <p>"This application made me feel heard and understood. The accuracy in diagnosis and the ability to connect with healthcare professionals make it a true ally in Alzheimer's prevention."</p>
              <em>-Tiffany</em>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
</div>

<!-- Team -->
<div class="teams">
  <section id="team">
    <h2 class="section-heading">MEET THE DOCTORS</h2>
    <p>Connect with renowned Doctors Specialised in Alzeihmer and Brain issue.</p>

    <div class="row">
      <div class="team-column col-md-3 col-sm-6">
        <div class="card">
            <img src="static\images\team\01.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h2>John</h2>
            <p class="card-text">Neurosurgeon</p>
          </div>
        </div>
      </div>
      <div class="team-column col-md-3 col-sm-6">
        <div class="card">
            <img src="static\images\team\02.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h2>Mike</h2>
            <p class="card-text">Neuro Specialist</p>
          </div>
        </div>
      </div>
      <div class="team-column col-md-3 col-sm-6">
        <div class="card">
            <img src="static\images\team\03.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h2>Jane</h2>
            <p class="card-text">Neurologist</p>
          </div>
        </div>
      </div>
      <div class="team-column col-md-3 col-sm-6">
        <div class="card">
            <img src="static\images\team\04.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h2>Karen</h2>
            <p class="card-text">Neuro Specialist</p>
          </div>
        </div>
      </div>
       
    </div>
  </section>
</div>

<!--Footer-->
<div class="foot-container">
  <section id="footer">
    <h3>Made With 🤍</h3>
    <p>By :
      <br>
      Anushri Jain
      <br>
      Yash Raj
      <br>
      Juberiya Ajaz
    </p>

  </section>

</div>

{% endif %}

{% endblock %} -->